@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hurme';
  src: url('./assets/hurmegeosans-no2-400.7f3badcdcf2aadb.woff2') format('woff2');
}

body{
  background-color: rgb(242, 244, 245);
  color: #2e3856;
  font-family: Hurme,-apple-system,BlinkMacSystemFont,sans-serif;
  font-size: 100%;
  line-height: 1.625;
}

.nav-bar {
  background: white;
  box-shadow: 0 .25rem 1rem 0 #2e385614;
}


h3{
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.nav-link{
  background:  #fff;
  border: .0625rem solid #d9dde8;
  color: #586380;
  padding: .2rem 1rem;
  border-radius: 10px;
}

.job-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 100px;
}

.title-location{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apply-btn{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  position: relative; 
  bottom: 0;
}

.span-txt{
  font-weight: 600;
  margin-right: 2px;;
}